<!-- selector: 'app-server' -->
<!-- <app-server></app-server> -->

<!-- selector: '[app-server]' -->
<!-- <div app-server> </div> -->

<!-- selector: '.app-server' -->
<!-- <div class="app-server"> </div> -->

<label>Server Name</label>

<!--<input type="text" class="form-control" (input)="onUpdateServerName($event)">-->    <!-- 1-way data binding -->
<input type="text" class="form-control" [(ngModel)]="serverName">   <!-- 2-way data binding -->
<!--<p>{{ serverName }}</p>-->
<hr>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button> <!-- Event binding -->
<!-- Property binding to enable the button after 2 sec -->
<hr>
<!--<p [innerText]="allowNewServer"></p>-->
<!-- <p>{{ serverCreationStatus }}</p>   String interpolation -->

<p *ngIf="serverCreated; else noServer">Server  '{{ serverName }}'  created!</p>
<ng-template #noServer>
    <p>No server was created!</p>
</ng-template>
<hr>

<app-server></app-server>
<app-server *ngFor="let server of servers"></app-server>
<hr>


<!-- ASSIGNMENT 2 -->
<label> Assignment 2 </label>
<hr>
<input type="text" class="form-control" [(ngModel)]="userName"> 
<p>{{ userName }}</p> 
<button class="btn btn-primary" [disabled]="!userName" (click)="resetUser()">Add User</button> 
<hr>



<!-- ASSIGNMENT 3 -->
<label> Assignment 3</label>
<hr>
<button class="btn btn-primary" (click)="buttonClicked()">Display details</button> 
<p *ngIf="displayPara">
    Secret Revealed!!
</p>

<!-- sol 1 : button click stores numbers -->
<!-- 
<div *ngFor="let clic of allClicks" [ngStyle]="{backgroundColor : clic > 4 ? 'blue' : 'transparent'}" [ngClass]="{sixthLog: clic > 4}">
    {{ clic }} 
</div> 
-->


<!-- sol 2 : button click stores timestamp-->

<div *ngFor="let clic of allClicks; let i = index" [ngStyle]="{backgroundColor : i > 4 ? 'blue' : 'transparent'}" [ngClass]="{sixthLog: i > 4}">
    {{ clic }} 
</div>
